/* *** COMMON: BEGIN*** */
body {
	color: #333;
	margin: 20px;
	/* cursor: url(../img/brush.png), auto; */
}
section a:link, 
section a:visited,
section a:focus,
section a:active {
	text-decoration: none;
	color: inherit;
}
section a:hover {
	text-decoration: underline;
}
/* TODO: find woff, ttf
// https://css-tricks.com/snippets/css/using-font-face/
@font-face {
	font-family: 'Marck Script';
	src:  url('../font/marckscript.woff2') format('woff2');
  }
  */
/* *** COMMON: END*** */

/* *** HEADER: BEGIN *** */
.header {
	margin-bottom: 10px;
	text-align: center;
}
/* small+medium */
.mfont {
	font-family: 'Marck Script', cursive;
	font-size: 2.0rem;
}
/* large */
@media (min-width: 992px) {
	.mfont {
		font-family: 'Marck Script', cursive;
		font-size: 2.3rem;
	}
}
.nav-mob {
	padding: 0;
}
.navButton {
	position: absolute;
	right: 4%;
	top: 7px;
}
/* small+medium */
@media (min-width: 768px) {
	.menuPoint {
		color: rgba(0,0,0,0.9);
		font-size: 0.8125rem;
		font-weight: 400;
		line-height: 1.5;
		font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	}
}
/* *** HEADER: END *** */

/* *** FOOTER: BEGIN *** */
.footer {
	margin-top: 20px;
	background-color: #fff !important;
	border: solid 1px #eee;
	font-family: verdana;
	font-size: 0.8125rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.footer a:link, 
.footer a:visited,
.footer a:focus,
.footer a:active {
	text-decoration: none;
	color: rgba(0,0,0,0.5);
}
.footer a:hover {
	color: rgba(0,0,0,0.9);
}
/* *** FOOTER: END *** */

/* *** CONTENT: BEGIN *** */
@media (min-width: 992px) {
	.layout-width {
		max-width: 800px;
	}
	.vita-sep {
		margin-left: 4px;
		margin-right: 4px;
	}
}
.content-center {
	margin-left: auto;
	margin-right: auto;
}
.text-center {
	text-align: center;
}
.home {
	text-align: center;
}
/* for small devices XS */
.home img {
	width: 100%;
}
/* for medium devices M */
@media (min-width: 576px) {
	.home img {
		width: 100%;
	}
}
/* for large devices LG, XL */
@media (min-width: 768px) {
	.home img {
		width: auto;
	}
}
.home button {
	margin-top:20px;
}
.hideImgUntilLoaded {
	display: none;
}
.showImage {
	display: block;
}
.vita-headline {
	background-color: #eee !important;
}
.about-links a:link, 
.about-links a:visited,
.about-links a:focus,
.about-links a:active {
	text-decoration: underline;
	color: inherit;
}
.about-links a:hover {
	font-weight: bold;
}
/* *** CONTENT - END *** */

/* *** GALLERY - BEGIN *** */
.big-paintings-slider, .small-paintings-slider, .potrait-paintings-slider, .drawings-slider {
	margin-bottom: 75px;
}
.gallery-cell {
	width: 100%;
	text-align: center;
	background-image: url('../img/gallery/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}
/* for small */
.title-gallery {
	text-align: center;
	font-family: 'Marck Script', cursive;
	font-size: 1.1rem;
	margin: 10px
}
/* for medium, large */
@media (min-width: 576px) {
	.title-gallery {
		text-align: center;
		font-family: 'Marck Script', cursive;
		font-size: 1.4rem;
		margin: 10px
	}
}
.title-bottom { margin-top: 4px; }
/* for small */
.placeholder { 
	width: 100%;
	height: auto;
}
/* for medium */
@media (min-width: 576px) {
	.placeholder { 
		width: 100%;
		height: auto; 
	}
}
/* for large */
@media (min-width: 992px) {
	.placeholder {
		width: auto;
		height: auto;
	}
}
/* *** GALLERY - END *** */