/* *** COMMON: BEGIN*** */
body {
	color: #333;
	margin: 20px;
	/* cursor: url(../img/brush.png), auto; */
}
section a:link, 
section a:visited,
section a:focus,
section a:active {
	text-decoration: none;
	color: inherit;
}
section a:hover {
	text-decoration: underline;
}
/* *** COMMON: END*** */

/* *** HEADER: BEGIN *** */
.header {
	margin-bottom: 10px;
	text-align: center;
}
.mfont {
	font-family: 'Marck Script', cursive;
	font-size: 2.5rem;
}
.navButton {
	position: absolute;
	right: 3%;
	top: 15px;
}
/* *** HEADER: END *** */

/* *** FOOTER: BEGIN *** */
.footer {
	margin-top: 20px;
	background-color: #fff !important;
	border: solid 1px #eee;
	font-family: verdana;
	font-size: 0.8125rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.footer a:link, 
.footer a:visited,
.footer a:focus,
.footer a:active {
	text-decoration: none;
	color: rgba(0,0,0,0.5);
}
.footer a:hover {
	color: rgba(0,0,0,0.9);
}
/* *** FOOTER: END *** */

/* *** CONTENT: BEGIN *** */
@media (min-width: 992px) {
	.layout-width {
		max-width: 800px;
	}
}
.content-center {
	margin-left: auto;
	margin-right: auto;
}
.home {
	text-align: center;
}
.vita-headline {
	background-color: #eee !important;
}
.about-links a:link, 
.about-links a:visited,
.about-links a:focus,
.about-links a:active {
	text-decoration: underline;
	color: inherit;
}
.about-links a:hover {
	font-weight: bold;
}
/* *** CONTENT - VITA: END *** */

/* ************* ************* GALLERY ************* ************* */

.gallery_pictures {

}
.gallery_img {
/* 	border: 15px solid white; */
	z-index: 1;
}
.gallery_layer {
	background-color: transparent;
	z-index: 2;
	opacity: 0.0;
}
.gallery_img_titel {
	font-family: verdana;
	font-size: 11px;
	display: inline;
	position: relative;
	top: 15px;
}
.button_back, .button_next {
	margin-top: 5px;
	width: 0;
  	height: 0;
	cursor: pointer;
}
.button_back {
	float: left;
	margin-left: 10px;
  	border-top: 15px solid transparent;
  	border-right: 25px solid #666;
  	border-bottom: 15px solid transparent;
}
.button_back:hover {
	border-right: 25px solid #000;
}
.button_next {
	float: right;
	margin-right: 10px;
  	border-top: 15px solid transparent;
  	border-left: 25px solid #666;
  	border-bottom: 15px solid transparent;
}
.button_next:hover {
	border-left: 25px solid #000;
}