{% extends 'base.html.twig' %}

{% block content %}
<section class="layout-width content-center"> 
	<div class="card bg-secondary mb-3">
		<div class="card-header">Kontakt</div>
		<div class="card-body">
			<p class="card-text">
				<b>e-mail</b>: <a href="mailto:malerei@marita.czepa.net">malerei@marita.czepa.net</a>
			</p>
			<p class="card-text">
				<b>Angaben gemäß § 5 TMG</b>:
			</p>
			<p class="card-text">
				Marita Czepa<br>
				Künstlerin<br>
				Wilhelminenhofstr. 83<br>
				XTRO Ateliers<br>
				12459 Berlin
			<p class="card-text">
				<b>Steuernummer</b>: 33/254/00622
			</p>
		</div>
	</div>
	<div class="card bg-secondary mb-3">
		<div class="card-header">Fotos</div>
		<div class="card-body">
			<p class="card-text">
				<a href="http://www.foto-joerss.de" target="_blank">Christine Jörss-Munzlinger</a>
			</p>
		</div>
	</div>
	<div class="card bg-secondary mb-3">
		<div class="card-header">Links</div>
		<div class="card-body">
			<p class="card-text about-links">
				<a href="http://www.a-f-m-b.de/" target="_blank">www.a-f-m-b.de</a> (Akademie für Malerei Berlin)<br>
				<a href="http://www.galerie-root.de/" target="_blank">www.galerie-root.de</a> (Galerie ROOT)<br>
				<a href="http://root-on-the-road.de/" target="_blank">www.root-on-the-road.de</a> (ROOT on the road)
				<!-- <a href="https://www.berlin.de/ba-marzahn-hellersdorf/aktuelles/pressemitteilungen/2017/pressemitteilung.583872.php" target="_blank">FORMICA Pressemitteilung</a> -->
			</p>
		</div>
	</div>
	<div class="card bg-secondary mb-3">
		<div id="impress" class="card-header">Impressum</div>
		<div class="card-body">
			<p class="card-text">
				<b>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</b>: Marita Czepa
			</p>
			<p class="card-text">
				Alle Texte, Bilder und Grafiken unterliegen dem Urheberrecht. Die Veröffentlichung in anderen elektronischen oder gedruckten 
				Publikationen ist ohne ausdrückliche Zustimmung von Marita Czepa nicht gestattet.
			</p>
			<h5 class="card-title">Haftungsausschluss</h5>
			<h6>Haftung für Inhalte</h6>
			<p class="card-text">
				Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte 
				können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten 
				nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, 
				übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige 
				Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen 
				bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten 
				Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
			</p>
			<h6>Haftung für Links</h6>
			<p class="card-text">
				Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für 
				diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder 
				Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. 
				Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten 
				ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir 
				derartige Links umgehend entfernen.
			</p>
			<h5 class="card-title">Urheberrecht</h5>
			<p class="card-text">
				Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die 
				Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der 
				schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, 
				nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die 
				Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine 
				Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen 
				werden wir derartige Inhalte umgehend entfernen.
			</p>
			<h5 class="card-title">Datenschutz</h5>
			<p class="card-text">
				Diese Webseite speichert keine Cookies und nutzt auch keine Drittanbieter Scripte um das Verhalten der Nutzer zu tracken oder zu analysieren. 
				Weiterhin werden auch keine Nutzerdaten in anderen Formen explizit gespeichert.
			</p>
		</div>
	</div>
</section>
{% endblock %}