{% extends 'base.html.twig' %}

{% block javascript %}
<link rel="stylesheet" href="css/flickity-2.1.0.min.css" media="screen">
<script src="js/flickity-2.1.0.pkgd.min.js"></script>
{% endblock %}

{% block content %}
<section>
	<div class="container-fluid layout-width">

		{% include 'gallery/paintings_big.html.twig' %}
		
		{% include 'gallery/paintings_small.html.twig' %}

		{% include 'gallery/paintings_potrait.html.twig' %}

		{% include 'gallery/drawings.html.twig' %}

		<br>
		<div class="text-center">
			<a href="pdf/catalog_mczepa.pdf" target="_blank">
				<button type="button" class="btn btn-outline-danger">Lade den Katalog als PDF</button>
			</a>
		</div>
	</div>
</section>
{% endblock %}