{% extends 'base.html.twig' %}

{% block javascript %}<script src="js/mpage.js"></script>{% endblock %}

{% block content %}
	
<div id="main" class="main">

	<table style="border:0;margin: auto;">
		<tr>
			<td id="gallery_img" style="margin:0;padding:0;width:500px;height:500px;background-image: url('img/img01.jpg');">
				<img id="cr_img" src="img/image_copyright.gif" style="margin:0;padding:0;width:500px;height:500px;"/>
			</td>
		</tr>
		<tr>
			<td>
				<div id="gallery_layer">
					<div id="gallery_button_back" class="button_back"><!-- back --></div>
					<div id="gallery_img_titel" class="gallery_img_titel">[TITEL]</div>
					<div id="gallery_button_next" class="button_next"><!-- next --></div>
				</div>
			</td>
		</tr>
	</table>

</div>

{% endblock %}