{% extends 'base.html.twig' %}

{% block javascript %}
<link rel="stylesheet" href="css/flickity-2.1.0.min.css" media="screen">
<script src="js/flickity-2.1.0.pkgd.min.js"></script>
<script src="js/mpage.js"></script>
{% endblock %}

{% block content %}
<section>
	<div class="container-fluid layout-width">
		<div class="main-carousel">
			<div class="gallery-cell format-a img-01"><span>Marita Czepa - <b>Kulturlandschaft I</b> - 2015 - Aquarell, Tusche auf Packpapier - 161 x 229 cm</span></div>
			<div class="gallery-cell format-a img-02">Marita Czepa - <b>Kulturlandschaft II</b> - 2016 - Tusche auf Plakatpapier - 130 x 184 cm</div>
			<div class="gallery-cell format-a img-03">Marita Czepa - <b>Kulturlandschaft III</b> - 2016 - Tusche auf Plakatpapier - 130 x 184 cm</div>
		</div>
	</div>
</section>
{% endblock %}