{% extends 'base.html.twig' %}

{% block content %}
<section>
	<div class="container-fluid layout-width">
		<table class="table content-center">
			<tbody>
				<tr class="table-secondary">
					<th class="vita-headline" colspan="2" scope="row">lebt und arbeitet in Berlin</th>
				</tr>
				<tr class="table-secondary">
					<th scope="row">1956</th>
					<td>geboren in Demmin / Mecklenburg-Vorpommern</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">1976<span class="vita-sep">-</span>1980</th>
					<td>Studium der Informatik</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">1980<span class="vita-sep">-</span>1992</th>
					<td>Tätigkeit als Informatikerin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">ab 1991</th>
					<td>Malreisen nach Norwegen, Island, Grönland, Lettland, Belarus, Italien, Frankreich und Deutschland</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">1992<span class="vita-sep">-</span>1993</th>
					<td>Kulturmanagementstudium</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">1993<span class="vita-sep">-</span>2012</th>
					<td>Tätigkeit als Kulturmanagerin</td>
				</tr>
				<!--
				<tr class="table-secondary">
					<th scope="row">2005</th>
					<td>Mitglied der künstlerisch-ökologischen Arbeitsgruppe FORMICA Berlin</td>
				</tr>
				-->
				<tr class="table-secondary">
					<th scope="row">2012<span class="vita-sep">-</span>2017</th>
					<td>Studium an der Akademie für Malerei Berlin Meisterschülerin von Ute Wöllmann</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2013<span class="vita-sep">-</span>2014</th>
					<td>Mitglied der Produzentengalerie ROOT am Savignyplatz, Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">seit 2014</th>
					<td>vertreten von der Galerie ROOT, Berlin</td>
				</tr>
			</tbody>
		</table> 
		<table class="table table-hover content-center">
			<tbody>
				<tr class="table-secondary">
					<th class="vita-headline" colspan="2" scope="row">Einzelausstellungen</th>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2018</th>
					<td>»Mehrweg«, Galerie ROOT, Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2017</th>
					<td>Öffentliche Präsentation zum Abschluss des Studiums, Akademie für Malerei Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2016</th>
					<td>»Nicht anfangen, aufzuhören«, Kunstverein Templin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2015</th>
					<td>Öffentliche Präsentation zur Aufnahme in das Masterstudium, Akademie für Malerei Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2014</th>
					<td>»drüber und drunter«, Galerie ROOT am Savignyplatz Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2013</th>
					<td>Öffentliche Präsentation zur Aufnahme in das Hauptstudium, Akademie für Malerei Berlin</td>
				</tr>
			</tbody>
		</table> 
		<table class="table table-hover content-center">
			<tbody>
				<tr class="table-secondary">
					<th class="vita-headline" colspan="2" scope="row">Gruppenaustellungen</th>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2018</th>
					<td>art KARLSRUHE, Galerie ROOT, Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2017</th>
					<td>4. Hot Sunday, Galerie ROOT, Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2017</th>
					<td>»Land in Sicht«, Akademie für Malerei Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2017</th>
					<td>»Objekte der Begierde«, Akademie für Malerei Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2016</th>
					<td>»trifolium«, Inselgalerie Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2016</th>
					<td>3. Hot Sunday, Galerie ROOT, Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2016</th>
					<td>Offene Akademie für Malerei Berlin, Studentenausstellung</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2015</th>
					<td>2. Hot Sunday, Galerie ROOT, Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2015</th>
					<td>6. Benefiz-Kunstauktion Telefonseelsorge, Galerie mianki und Berlinische Galerie</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2015</th>
					<td>Offene Akademie für Malerei Berlin, Studentenausstellung</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2014</th>
					<td>»Viriditas – Blühen und Fruchten«, Galerie ROOT, Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2014</th>
					<td>1. Hot Sunday, Galerie ROOT, Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2014</th>
					<td>5. Benefiz-Kunstauktion, Telefonseelsorge, Galerie mianki und KPM Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2014</th>
					<td>Offene Akademie für Malerei Berlin, Studentenausstellung</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2014</th>
					<td>Galerie Hoffmann @ ROOT am Savignyplatz</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2013</th>
					<td>Contemporary Art Ruhr (C.A.R.), Galerie ROOT am Savignyplatz, Berlin</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2013</th>
					<td>Offene Akademie für Malerei Berlin, Studentenausstellung</td>
				</tr>
				<tr class="table-secondary">
					<th scope="row">2013</th>
					<td>pack of patches @ ROOT, Galerie ROOT am Savignyplatz Berlin</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a href="http://www.galerie-root.de" target="_blank">www.galerie-root.de</a></br>
			<a href="http://www.marita.czepa.net">www.marita.czepa.net</a>
		</div>
	</div>
</section>
{% endblock %}