{% extends 'base.html.twig' %}

{% block title %}Willkommen{% endblock %}

{% block content %}
	
<div id="main" class="main">

	<div class="start_img">

		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_invitation1.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_invitation2.jpg" style="margin:0;padding:0;"/>
		</div>	
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_eventa.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_eventb.jpg" style="margin:0;padding:0;"/>
		</div>	
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_atelier1.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_atelier3.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_atelier2.jpg" style="margin:0;padding:0;"/>
		</div>	
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_offene_akademie1.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_offene_akademie2.jpg" style="margin:0;padding:0;"/>
		</div>	
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_trifolium1.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_trifolium2.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_hotsunday3a.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_hotsunday3b.jpg" style="margin:0;padding:0;"/>
		</div>			
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_studenten_01.jpg" style="margin:0;padding:0;"/><br>
			<img id="cr_img" src="img/_start_studenten_02.jpg" style="margin:0;padding:0;"/><br>
			<img id="cr_img" src="img/_start_studenten_03.jpg" style="margin:0;padding:0;"/><br>
			<img id="cr_img" src="img/_start_studenten_04.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_templin.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_hotsunday2a.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_hotsunday2b.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_xtro.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_bluehen.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_sunday.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_galerie.jpeg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_startpage_card_l.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_startpage_card_r.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_startpage_postkarte_a.jpg" style="margin:0 0 5px 0;padding:0;"/>
			<img id="cr_img" src="img/_startpage_postkarte_b.jpg" style="margin:0;padding:0;"/>
		</div>
		
	</div>

</div>

{% endblock %}