{% extends 'base.html.twig' %}

{% block content %}
<!-- BREAKPOINT DEBUG 
<span class="d-block d-sm-none">BREAKPOINT XS</span>
<span class="d-none d-sm-block d-md-none">BREAKPOINT SM</span>
<span class="d-none d-md-block d-lg-none">BREAKPOINT MD</span>
<span class="d-none d-lg-block d-xl-none">BREAKPOINT LG</span>
<span class="d-none d-xl-block">BREAKPOINT XL</span>
-->
<section class="home layout-width content-center">
	<!-- <div class="card bg-secondary mb-3 mb-3"> --> 
	<div class="card border-success mb-3">
		<div class="card-header">
			<b><a href="https://galerie-root.de/hotsunday/hotsunday-2018/" target="_blank">Hot Sunday am 18.11.2018</a></b>
		</div>
		<div class="card-body">
			<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
				<img id="cr_img" src="img/events/yx_181118_hotsunday1.png" style="margin:0;padding:0;"/>
				<img id="cr_img" src="img/events/yx_181118_hotsunday2.png" style="margin:0;padding:0;"/>
			</div>	
		</div>
	</div>
	<!-- <div class="card border-secondary mb-3"> -->
	<div class="card bg-secondary mb-3 mb-3">
		<div class="card-header"><b>Vergangenes</b></div>
		<div class="card-body">
			<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
				<img id="cr_img" src="img/events/old/_start_invitation1.jpg" style="margin:0;padding:0;"/>
				<img id="cr_img" src="img/events/old/_start_invitation2.jpg" style="margin:0;padding:0;"/>
			</div>	
			<div id="show-more-target"></div>
			<div><button type="button" class="btn btn-outline-danger">Zeige mehr Vergangenes</button></div>
		</div>
	</div>

</section>

<!--
<div id="main" class="main">

	<div class="start_img">

		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_eventa.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_eventb.jpg" style="margin:0;padding:0;"/>
		</div>	
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_atelier1.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_atelier3.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_atelier2.jpg" style="margin:0;padding:0;"/>
		</div>	
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_offene_akademie1.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_offene_akademie2.jpg" style="margin:0;padding:0;"/>
		</div>	
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_trifolium1.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_trifolium2.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_hotsunday3a.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_start_hotsunday3b.jpg" style="margin:0;padding:0;"/>
		</div>			
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_studenten_01.jpg" style="margin:0;padding:0;"/><br>
			<img id="cr_img" src="img/_start_studenten_02.jpg" style="margin:0;padding:0;"/><br>
			<img id="cr_img" src="img/_start_studenten_03.jpg" style="margin:0;padding:0;"/><br>
			<img id="cr_img" src="img/_start_studenten_04.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_templin.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_hotsunday2a.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_hotsunday2b.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_xtro.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_bluehen.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_sunday.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_start_galerie.jpeg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_startpage_card_l.jpg" style="margin:0;padding:0;"/>
			<img id="cr_img" src="img/_startpage_card_r.jpg" style="margin:0;padding:0;"/>
		</div>
		<div id="gallery_start_img" style="margin: 10px auto; padding: 0px;">
			<img id="cr_img" src="img/_startpage_postkarte_a.jpg" style="margin:0 0 5px 0;padding:0;"/>
			<img id="cr_img" src="img/_startpage_postkarte_b.jpg" style="margin:0;padding:0;"/>
		</div>
		
	</div>

</div>
-->
{% endblock %}