<!DOCTYPE html>
<html>
    <head>
        {% include 'inc/head.html.twig' %}
        {% block javascript %}{% endblock %}
    </head>
    <body>
        {% include 'inc/body-header.html.twig' %}
        {% block content %}{% endblock %}
        {% include 'inc/body-footer.html.twig' %}
    </body>
</html>
