<div id="header_start" class="header">
    <div id="header_title" class="header_title"><a href="/">Marita Czepa</a></div>
    <div id="header_menu"  class="header_menu">
        <a href="/vita">VITA</a> | 
        <a href="/gallery">GALERIE</a> | 
        <a href="/contact">KONTAKT</a></div>
</div>