<!-- TITLE -->
<title>Marita Czepa - {{ pageTitle }}</title>
<!-- META/SEO -->
<meta charset="UTF-8">
<meta name="description" content="Marita Czepa | Malerei - Berlin | Aquarelle - leuchtend, lasierend, verlaufend - einfach außergewöhnlich">
<meta name="keywords" content="Marita Czepa, Kunst, Malerei, Aquarell, Akademie für Malerei, Berlin">
<link href="http://www.marita.czepa.de/" rel="canonical">
<!--- FAVICON -->
<link rel="shortcut icon" href="/favicon.ico"> <!-- older browsers -->
<link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32"> <!-- modern desktop browsers -->
<link rel="icon" type="image/png" href="/favicon-96.png" sizes="96x96"> <!-- modern desktop browsers -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> <!-- mobile like iOS Safari or Android -->
<meta name="msapplication-TileColor" content="#ffffff"> <!-- IE on win8 and Win10 -->
<meta name="msapplication-TileImage" content="/mstile-144x144.png"> <!-- IE on win8 and Win10 -->
<!-- STYLES -->
<link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/bs-simplex.min.css">
<link rel="stylesheet" type="text/css" href="css/mpage.css"> 
<!-- SCRIPTS -->
<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper-1.12.9.min.js"></script>
<script src="js/bootstrap-4.0.0-beta.3.min.js"></script>